name: Run runner

on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"   # alle 15 Minuten

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Debug - list files
        run: |
          pwd
          ls -la
          ls -la .github || true
          ls -la .github/workflows || true

      - name: Run
        env:
          TOKEN_GIST: ${{ secrets.TOKEN_GIST }}
          GIST_ID: ${{ secrets.GIST_ID }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          PACK_SCRIPT: binance_pack.py
        run: |
          python runner.py

      - name: Upload output as artifact
        uses: actions/upload-artifact@v4
        with:
          name: packs
          path: out/*.json
          if-no-files-found: warn
